body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; 
}

.unselectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#game {
  background-color: #111;
  height: 400px;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
  text-align: center;
  width: 400px;
  z-index: 0;
}
  
.interactiveText {
  color: white;
  font-size: 3rem;
  position: relative;
  text-decoration: none;
  top: 4rem;
  z-index: 1; 
  animation-duration: 2s;
  animation-timing-function: linear;
  animation-name: pulse;
  animation-direction: alternate;
  animation-iteration-count: infinite;
}

.subtitle {
  position: absolute;
  color: white;
  z-index: 20;
  font-size: 1.75rem;
  width: 300px;
  margin-top: 160px;
  margin-left: 50px;
  animation: 1s infinite alternate subtitleAnim;
}

@keyframes subtitleAnim {
  from {
    transform: scale(0.9, 0.9);
    color: rebeccapurple;
  }
  to {
    transform: scale(1.1, 1.1);
    color: yellow;
  }
}

.countdownText {
  position: absolute;
  color: white;
  z-index: 20;
  font-size: 5rem;
  width: 400px;
  margin-top: 140px;
  animation: 1s infinite forwards countdownIntoScreen;
}

@keyframes countdownIntoScreen {
  from {
    transform: scale(2, 2);
    opacity: 0;
  }
  to {
    transform: scale(1, 1);
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.centeredText {
  margin: 0;
  position: absolute;
  top: 25%;
  width: 400px;
  transform: translateY(-25%);
}

.endText {
  margin: 0;
  position: absolute;
  top: 50%;
  width: 400px;
  transform: translate(-50%, -50%);

  color: white;
  font-size: 2.5rem;
  text-decoration: none;
  z-index: 1; 
  animation-duration: 10s;
  animation-timing-function: linear;
  animation-name: fadeInOut;
  animation-direction: alternate;
  animation-iteration-count: infinite;
}

@keyframes fadeInOut {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.endText:hover {
    color: yellow;
}

.interactiveText:hover {
    color: yellow;
}

@keyframes pulse {
  from {
    opacity: 1; 
  }
  to {
    opacity: 0.5;
  }
}

.player1 {
  background-color: yellow;
}

.player2 {
  background-color: rgb(0, 220, 213);
}

.player3 {
  background-color: rgb(213, 50, 0)
}

.player4 {
  background-color: rgb(30, 190, 0)
}

.snakeChunk {
  width: 25px;
  height: 25px;
  position: absolute;
  z-index: -2;
  transition-duration: 2s;
  animation-duration: 2s;
  animation-timing-function: linear;
  animation-name: pulse;
  animation-direction: alternate;
  animation-iteration-count: infinite;
}

.destroyed {
  background-color: red;
}

.vibrate {
  animation-duration: 40ms;
  animation-timing-function: linear;
  animation-name: vibrateAnim;
  animation-direction: alternate;
  animation-iteration-count: infinite;
}

@keyframes vibrateAnim {
  from {
    transform: scale(0.8, 0.8);
  }
  to {
    transform: scale(1.2, 1.2);
  }
}

.food {
  width: 12.5px;
  height: 12.5px;
  margin-left: 6.25px;
  margin-top: 6.25px; 
  position: absolute;
  z-index: -2;
  background-color: gray;
  animation-duration: 4s;
  animation-timing-function: linear;
  animation-name: rotateAnim;
  animation-direction: forward;
  animation-iteration-count: infinite;
}

@keyframes rotateAnim {
  from {
    transform: rotate(0deg);
  } 
  to {
    transform: rotate(360deg);
  }
}

.fadeOut {
  animation-duration: 4ms;
  animation-timing-function: ease-in-out;
  animation-name: fadeOutAnim;
  animation-direction: normal;
  animation-iteration-count: 1;
} 

@keyframes fadeOutAnim {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
